[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "VedicDateTime"]
	path = VedicDateTime
	url = https://github.com/prajwalkpatil/vedicdatetime
